.in-game-name{
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
    color: black;
    text-shadow: 2px 2px 4px #ffffff;
}

.main-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 55%);
    margin: 0px;
    padding: 35px;
    border-radius: 10px;
    border: 2px solid white;
}

.bad-kda{
    color: red;
}

.good-kda{
    color: rgb(38, 196, 49);
}

.mid-kda{
    color: rgb(202, 133, 13);
}

.damage-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.damage-rank{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding-left: 10px;
    border-radius: 20px;
    padding-right: 10px;
    background-color: white;
    border: 1px solid black;
}

.kda-div{
    background-color: white;
    border-radius: 20px;
    width: 50px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}

.runes-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 0px;
}

.rune{
    height: 40px;
    width: 40px;
}

.second-rune{
height: 30px;
width: 30px;
}

.main-rune-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 75px 0px 0px 75px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 40px;
    width: 50px;

}

.second-rune-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 75px 75px 0px;
    height: 40px;
    width: 50px;
}

.items-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

.item-img{
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 20px;
}