
.home-page-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.form-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 150, 237);
}

.summ-name{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.summ-name-input{
    width: 200px;
    height: 30px;
    border-radius:5px 0px 0px 5px;
    background-color: rgb(210, 211, 212);
    color: #757575ff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-left: 10px;
    border-right: 1px solid black;
}
.summ-name-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.region{
    font-size: 16px;
    font-weight: bold;
    color: white; 
}

.region-select{
    width: 200px;
    height: 32px;
    background-color: rgb(210, 211, 212);
    color: #757575ff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-right: 1px solid black;

}

.region-select:hover{
    cursor: pointer;
    color: rgb(80, 79, 79);
}

.region-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}


.submit-button{
    width: 100px;
    height: 32px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(210, 211, 212);
    color: #757575ff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.submit-button-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

}

.submit-button:hover{
    color: black;
    font-size: 15px;
}

.home-lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 150, 237);
    border-top: 1px solid black;
    /* padding-bottom: 30%; */
}

#github-icon{
    font-size: 50px;
    margin-top: 30px;
    padding-right: 100px;
    color: white;
}

#github-icon:hover{
    color: rgb(117, 117, 117);
    cursor: pointer;
}

#linkedin{
    font-size: 50px;
    margin-top: 30px;
    padding-left: 100px;
    color: white;
}

#linkedin:hover{
    color: rgb(117, 117, 117);
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 150, 237);
    border-top: 1px solid black;
    padding-top: 22%;
    padding-bottom: 30px;
}


.region-options{
    color: white;
}
.region-options:hover{
    color: rgb(117, 117, 117);
    cursor: pointer;
}