.champion-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: rgb(73, 150, 237);
    overflow: hidden;
    padding: 10px;
    margin: 20px;
    height: 200px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.game-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #757575ff;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.champ-level{
    position: absolute;
    top: 0;
    right: 0;
    background-color:white;
    opacity: 0.5;
    padding: 5px; 
    margin: 0; 
    color: black;
}

.img-container{
    position: relative;
    display: inline-block;
}